<% include ../fragments/header.ejs %>
	<div class="container main-content">
		<h1>Devices</h1>
		<div class="deviceHeader">
			<div style="width:200px; float:left" ><strong>Name</strong></div>
			<div style="width:400px; float:left"><strong>Description</strong></div>
			<div class="deviceActions"><strong>Actions</strong></div>
		</div>
		<% devices.forEach(function(device){ %>
		<div class="deviceRow">
			<div class="device">
			<div class="deviceName"><%= device.friendlyName %></div>
			<div class="deviceDescription"><%= device.friendlyDescription %></div>
			<div class="deviceActions">
				<% device.actions.forEach(function(action){ %>
					<img class="action" src="/images/<%= action %>.png" title="<%= action %>">
				<% }); %>
			</div>
			</div>
			<div>
			<button onclick="edit('<%= device._id %>')">Edit</button>
			<button onclick="deleteDevice('<%= device._id%>')">Delete</button>
			</div>
		</div>
		<% }); %>
		<div style="padding-top: 10px;">
			<button onclick="addDevice();">Add Device</button>
		</div>
		<p>After making any changes remember to ask Alexa to update devices it knows about by saying 
      "Alexa, discover devices"</p>
	</div>

	<div id="dialog" hidden>
		<input id="devID" type="hidden">
		<label for="friendlyName">Name: </label>
		<input id="friendlyName" type="text">
		<label for="friendlyDescription">Description: </label>
		<br>
		<textarea id="friendlyDescription" rows="2" style="width: 95%"></textarea>
		<fieldset>
			<legend>Actions</legend>
			<fieldset class="action" id="onOff">
				<label for="turnOn">On: </label>
				<input title="Turn device on" type="checkbox" name="actions" id="turnOn" value="turnOn">
				<label for="turnOff">Off: </label>
				<input title="Turn device off" type="checkbox" name="actions" id="turnOff" value="turnOff">
			</fieldset>
			<fieldset class="action" id="percentCheck">
				<label for="setPercentage">%: </label>
				<input title="Set device %" type="checkbox" name="actions" id="setPercentage" value="setPercentage" onclick='checkCapability(this)'>
				<label for="incrementPercentage">+%: </label>
				<input title="Turn device up" type="checkbox" name="actions" id="incrementPercentage" value="incrementPercentage" onclick='checkCapability(this)'>
				<label for="decrementPercentage">-%: </label>
				<input title="Turn device down" type="checkbox" name="actions" id="decrementPercentage" value="decrementPercentage" onclick='checkCapability(this)'>
			</fieldset>
			<fieldset class="action" id="temperatureCheck">
				<label for="setTargetTemperature">&deg;C/F: </label>
				<input title="Set target temperature" type="checkbox" name="actions" id="setTargetTemperature" value="setTargetTemperature" onclick='checkCapability(this)'>
				<label for="incrementTargetTemperature">+&deg;C/F: </label>
				<input title="Turn target temperature up" type="checkbox" name="actions" id="incrementTargetTemperature" value="incrementTargetTemperature" onclick='checkCapability(this)'>
				<label for="decrementTargetTemperature">-&deg;C/F: </label>
				<input title="Turn target temperature down" type="checkbox" name="actions" id="decrementTargetTemperature" value="decrementTargetTemperature" onclick='checkCapability(this)'>
			</fieldset>
			<!-- -->
			<fieldset class="action" id="queryTemperature">
				<label for="getTargetTemperature">Query Set Point: </label>
				<input title="Query target temperature" type="checkbox" name="actions" id="getTargetTemperature" value="getTargetTemperature" onclick='checkCapability(this)'>
				<br/>
				<label ofr="getTemperatureReading">Query Current Temp: </label>
				<input title="Query current temperature" type="checkbox" name="actions" id="getTemperatureReading" value="getTemperatureReading" onclick='checkCapability(this)'>
			</fieldset>
			<fieldset class="action" id="lockControl">
				<label for="">Lock/Unlock</label>
				<input title="Lock or Unlock" type="checkbox" name="actions" id="setLockState" value="setLockState" onclick='checkCapability(this)'>
				<br/>
				<label for="">Query Lock State</label>
				<input title="Query Lock state" type="checkbox" name="actions" id="getLockState" value="getLockState" onclick='checkCapability(this)'>
			</fieldset>
			<!-- -->
			<fieldset class="action" id="lighting">
				<label for="setColor">Set Color</label>
				<input title="Set Color" type="checkbox" name="actions" id="setColor" value="setColor" onclick='checkCapability(this)'>
				<br/>
				<label for="setColorTemperature">Set Color Temperature</label>
				<input title="Set Color Temperature" type="checkbox" name="actions" id="setColorTemperature" value="setColorTemperature" onclick='checkCapability(this)'>
				<label for="incrementColorTemperature">Increment Color Temperature</label>
				<input title="Increment Color Temperature" type="checkbox" name="actions" id="incrementColorTemperature" value="incrementColorTemperature" onclick='checkCapability(this)'>
				<label for="decrementColorTemperature">Decrement Color Temperature</label>
				<input title="Decrement Color Temperature" type="checkbox" name="actions" id="decrementColorTemperature" value="decrementColorTemperature" onclick='checkCapability(this)'>
			</fieldset>
		</fieldset>
	</div>
	
	<script>
	$( "#dialog" ).dialog({
		autoOpen: false,
		dragable: false,
		modal: true,
		position: {
			my: "center",
			at: "center",
			of: window,
			using: function( pos ) {
				$(this).css("top", '55px');
				$(this).css("left", pos.left);
	        }
		},
		title: "Add New Device",
		dialogClass: "no-close",
		buttons: [
			{
				text: "OK",
				click: function(){
					var devID = $('#devID').val();
					if ( devID === "") {
						var device = {
							actions: []
						};
						device.friendlyName = $('#friendlyName').val();
						device.friendlyDescription = $('#friendlyDescription').val();
						$('input[name=actions]').each(function(index){
							if (this.checked) {
								device.actions.push(this.value);
							}
						});
						console.log(device);
						if (device.friendlyName && 
							device.friendlyDescription && 
							device.actions.length > 0) {
							$.ajax({
								url:"/devices",
								type: 'PUT',
								data: JSON.stringify(device),
								contentType: "application/json",
								success: function(data){
									console.log("put response");
									console.log(data);
									//reload
									document.location.reload();
								},
								dataType   : 'json'
							}).fail(function(){
								alert("failed to create device");
							});
							$(this).dialog( "close" );
						} else {
							alert("Name or desciption can not be empty and at least one action is needed");
						}
					} else {
						var device = devices[devID];
						device.friendlyDescription = $('#friendlyDescription').val();
						device.actions = [];
						$('input[name=actions]').each(function(index){
							if (this.checked) {
								device.actions.push(this.value);
							}
						});
						if (device.friendlyName && 
							device.friendlyDescription && 
							device.actions.length > 0) {
							//post update
							$.ajax({
								url: '/device/' + device._id,
								type: 'POST',
								data: JSON.stringify(device),
								contentType: "application/json",
								success: function(data){
									console.log("post response");
									console.log(data);
									//reload
									document.location.reload();
								},
							});
							console.log(device);
							$(this).dialog("close");
						} else {
							alert("Name or desciption can not be empty and at least one action is needed");
						}
					}
				}				
			},
			{
				text: "Cancel",
				click: function() {
					clearDevice();
					$(this).dialog( "close" );
				}
			}
		]
	});

	function addDevice() {
		clearDevice();
		checkCapability();
		$("#dialog").dialog("open");
	}

	function clearDevice() {
		$('#devID').val("");
		$('#friendlyName').val("");
		$('#friendlyName').prop('readonly', false);
		$('#friendlyDescription').val("");
		$('input[name=actions]').each(function(index){
			this.checked = false;
		});
	}

	function edit(id) {
		clearDevice();
		$("#dialog").dialog("open");
		var device = devices[id];
		$('#devID').val(device._id);
		$('#friendlyName').val(device.friendlyName);
		$('#friendlyName').prop('readonly', true);
		$('#friendlyDescription').val(device.friendlyDescription);
		device.actions.forEach(function(action){
			$('#'+action).prop('checked',true);
		});
		checkCapability();
	}

	function deleteDevice(id) {
		var answer = confirm("Are you sure you want to delete this device?");
		if(answer) {
			$.ajax({
				url:"/device/" + id,
				type: 'DELETE',
				success: function(data){
					document.location.reload();
				}
			});
		}
	}

	function checkCapability(check) {
		var percent = $('#setPercentage').prop('checked');
		var incPercent = $('#incrementPercentage').prop('checked');
		var decPercent = $('#decrementPercentage').prop('checked');

		var p = percent | incPercent | decPercent;

		var temp = $('#setTargetTemperature').prop('checked');
		var incTemp = $('#incrementTargetTemperature').prop('checked');
		var decTemp = $('#decrementTargetTemperature').prop('checked');
		var qSetTemp = $('#getTargetTemperature').prop('checked');
		var qCurTemp = $('#getTemperatureReading').prop('checked');

		var t = temp | incTemp | decTemp | qSetTemp | qCurTemp;

		var lock = $('#setLockState').prop('checked');
		var qLock = $('#getLockState').prop('checked');

		var l = lock | qLock;

		var color = $('#setColor').prop('checked');
		var colorTemp = $('#setColorTemp').prop('checked');
		var incColorTemp = $('#incrementColorTemp').prop('checked');
		var decColorTemp = $('#decrementColorTemp').prop('checked');

		var c = color | colorTemp | incColorTemp | decColorTemp;

		if (p & t || p & l || t & l || t & c || l & c) {
			alert("You can not control percentage and temperature, percentage and lock, temperature and lock or temperatur and color or lock and color on the same device");
			return false;
		}

		if (p) {
			$('#percentCheck').removeAttr('disabled');
			$('#lighting').removeAttr('disabled');
			$('#temperatureCheck').attr('disabled', '');
			$('#queryTemperature').attr('disabled', '');
			$('#lockControl').attr('disabled', '');
		} else if (t) {
			$('#temperatureCheck').removeAttr('disabled');
			$('#queryTemperature').removeAttr('disabled');
			$('#lockControl').attr('disabled', '');
			$('#percentCheck').attr('disabled', '');
			$('#lighting').attr('disabled', '');
		} else if (l) {
			$('#lockControl').removeAttr('disabled');
			$('#temperatureCheck').attr('disabled', '');
			$('#queryTemperature').attr('disabled', '');
			$('#percentCheck').attr('disabled', '');
			$('#lighting').attr('disabled', '');
		} else if (c) {
			$('#percentCheck').removeAttr('disabled');
			$('#lighting').removeAttr('disabled');
			$('#lockControl').attr('disabled', '');
			$('#temperatureCheck').attr('disabled', '');
			$('#queryTemperature').attr('disabled', '');
		} else {
			$('#percentCheck').removeAttr('disabled');
			$('#temperatureCheck').removeAttr('disabled');
			$('#queryTemperature').removeAttr('disabled');
			$('#lockControl').removeAttr('disabled');
			$('#lighting').removeAttr('disabled');
		}

	}

	var devices = {};
	<%- JSON.stringify(devices) %>.forEach(function(device){
		devices[device._id] = device;
	});
	</script>
<% include ../fragments/footer.ejs %>